@media (max-width: 1160px) {
	.container {
		padding: 0 10px;
    }
    .advantages {
        &__wrapper {
            margin-top: 30px;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }
    .promo {
        &__menu-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        &__title {
            margin-top: 30px;
        }
        &__subtitle {
            font-size: 58px;
            line-height: 58px;
        }
        &__text {
            font-size: 35px;
            line-height: 35px;
        }
        &__line-block {
            &:before, &:after {
                width: 300px;
                top: 50%;
                left: -310px;
            }
            &:after {
                right: -310px;
                left: auto;
            }
        }
        &__services-block {
            justify-content: space-around;
        }
        &__services-item {
            margin-bottom: 25px;
        }
    }
    .work {
        padding-bottom: 15px;
        &__wrapper {
            justify-content: space-around;
        }
        &__item {
            margin: 0 10px 40px;
        }
    }   
}

@media (max-width: 770px) {
    .promo {
        &__menu {
            flex-direction: column;
            border: 1px solid #fff;
            border-radius: 7px;
        }
        &__link {
            border-right: none;
        }
        &__title {
            line-height: 28px;
        }
        &__subtitle {
            font-size: 36px;
            line-height: 40px;
        }
        &__text {
            font-size: 22px;
            line-height: 26px;
        }
        &__line-block {
            &:before, &:after {
                width: 130px;
                top: 50%;
                left: -140px;
            }
            &:after {
                right: -140px;
                left: auto;
            }
        }
    }
    .phone-block {
        margin-top: 20px;
    }
    .advantages {
        &__item {
            width: 100%;
        }
        &__content {
            width: 85%;
        }
    }
    .work {
        &__item {
            max-width: 100%;
        }
    }   
    .subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 500px) {
    .phone-block {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__phone {
            margin-bottom: 10px;
            text-align: center;
        }
    }
    .title {
        font-size: 20px;
    }
    .advantages {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__content {
            width: 100%;
            text-align: center;
        }
        &__descr {
            text-align: left;
        }
    }
    .work {
        &__img {
            max-width: 100%;
        }
        &__descr {
            text-align: left;
        }
    } 
    .subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}