.agent, .managers {
    padding: 58px 0 75px;
    background: url("../img/bg/agent_bg.jpg") center (center/cover) no-repeat;
    &__img {
        display: block;
        margin: 0 auto;
    }
}

.managers {
    background: url("../img/bg/managers_bg.jpg") center (center/cover) no-repeat;
}