.footer {
    max-width: 1920px;
    margin: 0 auto;
    padding: 24px 0 28px;
    background-color: #25333c;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 520px;
        img {
            display: block;
        }
        h2 {
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
            margin-bottom: 0;
        }
    }
    hr {
        color: rgba(255, 255, 255, 0.30);
        border-bottom: none;
        margin: 26px 0 19px;
    }
    &__botton {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__copy {
        color: rgba(255, 255, 255, 0.6);
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
        text-align: center;
    }
    &__confidentiality {
        color: $main_color;
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
        text-align: center;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
            color: $main_color;
        }
    }
    &__website-creation {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__website-text {
        color: rgba(255, 255, 255, 0.6);
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
        margin-right: 10px;
    }
}