.work {
    padding: 50px 0 55px;
    &__wrapper {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 360px;
    }
    &__img {
        display: block;
        max-width: 360px;
        margin: 0 auto;
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        color: $main_color;
        margin-top: 28px;
    }
    &__descr {
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        text-align: justifyCenter;
    }
}